<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>server side rendering</title>
  </head>
  <body>
    <h1>url shortner</h1>
    <div>
      <form action="/url" method="POST">
        <!-- ish url pr post request mr do -->
      <label>create your url</label>
      <input type="text" name="redirectUrl" placeholder="enter your url" />
      <button type="submit">create</button>
      </form>
    </div>

    <ol>
      <% data.forEach(url => { %>
      <li><%= url.shortID %> - <%= url.redirectUrl %></li>
      <% }) %>
    </ol>
  </body>
</html>
