<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>

    <form action="/signup" method="post">
    <input type="text" name="name" placeholder="enter your name"/>
    <input type="text" name="email" placeholder="enter your email"/>
    <input type="text" name="password" placeholder="enter your password"/>
    <button>signUp</button>
</form>
</body>
</html>