<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap"
      rel="stylesheet"
    />

    <style>
      .container {
        /* margin-top: 10%; */
        display: flex;
        justify-content: center;
        align-items: center;
        /* width: 30%; */
        width: 100%;
        /* background: #000; */
        font-family: "Poppins", sans-serif;
      }
      .form {
        --input-focus: #2d8cf0;
        --font-color: #323232;
        --font-color-sub: #666;
        --bg-color: beige;
        --main-color: black;
        padding: 20px;
        background: lightblue;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        gap: 20px;
        border-radius: 5px;
        border: 2px solid var(--main-color);
        box-shadow: 4px 4px var(--main-color);
      }

      .title {
        color: var(--font-color);
        font-weight: 900;
        font-size: 20px;
        margin-bottom: 25px;
      }

      .title span {
        color: var(--font-color-sub);
        font-weight: 600;
        font-size: 17px;
      }

      .input {
        width: 250px;
        height: 40px;
        border-radius: 5px;
        background-color: var(--bg-color);
        border: 2px solid var(--main-color);
        box-shadow: 4px 4px var(--main-color);
        font-size: 15px;
        font-weight: 600;
        color: var(--font-color);
        padding: 5px 10px;
        outline: none;
      }

      .input::placeholder {
        color: var(--font-color-sub);
        opacity: 0.8;
      }

      .input:focus {
        border: 2px solid var(--input-focus);
      }

      .login-with {
        display: flex;
        gap: 20px;
      }

      .button-log {
        cursor: pointer;
        width: 40px;
        height: 40px;
        border-radius: 100%;
        border: 2px solid var(--main-color);
        background-color: var(--bg-color);
        box-shadow: 4px 4px var(--main-color);
        color: var(--font-color);
        font-size: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .icon {
        width: 24px;
        height: 24px;
        fill: var(--main-color);
      }

      .button-log:active,
      .button-confirm:active {
        box-shadow: 0px 0px var(--main-color);
        transform: translate(3px, 3px);
      }

      .button-confirm {
        margin: 50px auto 0 auto;
        width: 120px;
        height: 40px;
        border-radius: 5px;
        border: 2px solid var(--main-color);
        background-color: var(--bg-color);
        box-shadow: 4px 4px var(--main-color);
        font-size: 17px;
        font-weight: 600;
        color: var(--font-color);
        cursor: pointer;
      }
    </style>
    <title></title>
  </head>
  <body>
    <div class="container">
      <form class="form" action="/auth/signin" method="post">
        <div class="title">Welcome,<br /><span>sign in to continue</span></div>
        <input class="input" name="email" placeholder="Email" type="email" />
        <input
          class="input"
          name="password"
          placeholder="Password"
          type="password"
        />
        <div style="font-size: 14px; color: #555; margin: 10px auto 0 auto">
          Don’t have an account?
          <a
            href="/auth/signup"
            style="color: #000; font-weight: 600; text-decoration: underline"
            >Create one</a
          >
        </div>
        <button class="button-confirm">Let`s go →</button>
      </form>
    </div>
  </body>
</html>
